/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 90px;
  padding: 0 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #0a0a0a;
  color: #fff;

  position: sticky;
  top: 0;
  z-index: 100;
}

/* LOGO */
.logo img {
  display: block;
  object-fit: contain;
}

/* NAV LINKS */
nav {
  display: flex;
  gap: 30px;
}

nav li {
  list-style: none;
}

nav a {
  color: #dcdcdc;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s;
}

nav a:hover {
  color: #fff;
  border-bottom: 2px solid #c20000;
  padding-bottom: 4px;
}

/* SEARCH BAR */
.search_bar {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #1a1a1a;
  padding: 6px 12px;
  border-radius: 30px;
}

.search_bar input {
  border: none;
  outline: none;
  background: transparent;
  color: white;
}

.search_bar input::placeholder {
  color: #aaa;
}

/* ACCOUNT */
.account {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logged_as {
  color: #ccc;
  font-size: 14px;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 900px) {
  nav,
  .search_bar {
    display: none;
  }

  header {
    padding: 0 20px;
  }
}
